/* Styles for laurabiester.com
   Modified: 3-18-15
   Author: Laura Biester */
@import url(http://fonts.googleapis.com/css?family=Poiret+One);
/* NAVIGATION BAR */
nav {
  z-index: 1;
  width: 100%;
  margin: 0px !important;
  position: fixed;
  height: 60px;
  background-color: #000000;
  opacity: 0.99;
  color: gray;
  line-height: 60px; }
  nav div {
    margin: 0px;
    padding: 0px !important; }
  @media (min-width: 769px) {
    nav ul {
      list-style: none; }
      nav ul li {
        display: inline-block; }
    nav span.mobile-links {
      display: none; } }
  @media (max-width: 768px) {
    nav ul {
      padding: 0px;
      display: none; }
      nav ul li {
        display: block;
        background-color: #000000;
        opacity: 0.99;
        border-bottom: 1px solid gray; }
    nav span.mobile-links {
      color: #03AFB3; }
      nav span.mobile-links div {
        padding: 0px 20px !important; } }

/* ALL NAVIGATION TEXT */
nav {
  font-size: 20px; }

/* NAVIGATION LINKS */
a.nav-link,
a#show-links {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  color: #FFFFFF; }
  a.nav-link:active,
  a#show-links:active {
    text-decoration: none; }
  a.nav-link:hover, a.nav-link.selected,
  a#show-links:hover,
  a#show-links.selected {
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    color: #03AFB3; }

a.nav-link {
  padding: 0px 20px; }

a {
  color: #03AFB3; }
  a:hover {
    color: #03AFB3; }

/* PAGE SECTIONS */
.section {
  padding-top: 60px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
  font-size: 12pt;
  font-family: "Raleway", sans-serif; }
  @media (min-width: 1500px) {
    .section {
      font-size: 20pt; } }
  @media (min-width: 2000px) {
    .section {
      font-size: 30pt; } }
  .section h2 {
    font-family: "Poiret One", sans-serif;
    text-transform: uppercase;
    font-size: 30pt;
    color: #03AFB3; }

/* HOME SECTION */
div#home {
  background-image: url("../images/great_wall.jpg");
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat; }
  div#home h1 {
    font-size: 80px;
    font-family: "Poiret One", "Raleway", sans-serif;
    color: #7D0366; }
  div#home h4 {
    font-family: "Raleway", sans-serif;
    color: #03AFB3; }
  div#home div#home-title {
    padding-left: 60px; }
  div#home div#home-content {
    margin-top: 10%;
    margin-top: calc(50vh - 150px); }

/* ABOUT SECTION */
div#about div.about-section {
  padding: 10px; }

/* SKILLS SECTION */
div#skills a.download-button,
div#skills a.download-button:active,
div#skills a.download-button:visited {
  width: 100%;
  display: inline-block;
  color: #FFFFFF;
  background-color: #03AFB3;
  border: 1px solid #03AFB3;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  padding: 5px;
  text-align: center;
  transition: all .7s ease-in-out; }
  div#skills a.download-button:hover,
  div#skills a.download-button:active:hover,
  div#skills a.download-button:visited:hover {
    background-color: #03AFB3;
    border: 1px solid #FFFFFF;
    background-color: #03A0A3;
    text-decoration: none; }
div#skills div.skills-row {
  min-height: 150px; }
  div#skills div.skills-row div {
    height: inherit; }
    div#skills div.skills-row div img {
      height: 150px;
      padding: 10px 0px;
      -webkit-transition: -webkit-filter .7s ease-in-out; }
    div#skills div.skills-row div img.grayscale {
      -webkit-filter: grayscale(1);
      filter: url("data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'><filter%20id='grayscale'><feColorMatrix%20type='matrix'%20values='0.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200%200%200%201%200'/></filter></svg>#grayscale");
      /* Firefox 3.5+ */
      filter: gray;
      filter: grayscale(1); }
div#skills div.skill-info {
  height: inherit; }
@media only screen and (max-width: 768px) {
  div#skills .hide-mobile {
    display: none; } }

/* EDUCATION SECITON */
div#education img, div#experience img {
  max-height: 150px;
  max-width: 150px;
  padding: 10px 0px; }
  div#education img#pearson, div#experience img#pearson {
    padding-top: 80px; }

/* CONTACT SECTION */
div#contact a {
  color: #000000;
  transition: all 1s ease-in-out; }
  div#contact a:hover {
    color: #03AFB3; }
div#contact div#email {
  line-height: 3em; }
div#contact ul.social-icons {
  text-align: center; }
  div#contact ul.social-icons li {
    display: inline-block;
    background-color: #000000;
    width: 50px;
    height: 50px;
    padding-top: 9px;
    border-radius: 25px; }
    div#contact ul.social-icons li#linkedin {
      background-color: #1A84BC; }
    div#contact ul.social-icons li#facebook {
      background-color: #476EB1; }
    div#contact ul.social-icons li#twitter {
      background-color: #32CCFE; }
    div#contact ul.social-icons li#github {
      background-color: #000000; }
    div#contact ul.social-icons li a.social-links {
      color: #FFFFFF; }
      div#contact ul.social-icons li a.social-links:hover {
        color: gray; }

@media (max-width: 768px) {
  .center-if {
    text-align: center !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none !important; } }
/* OVERRIDE BOOTSTRAP */
div.transparent {
  background-color: transparent; }

/*# sourceMappingURL=style.css.map */
