/* Styles for laurabiester.com
   Modified: 3-18-15
   Author: Laura Biester */
/* NAVIGATION BAR */
nav {
  z-index: 1;
  width: 100%;
  margin: 0px !important;
  position: fixed; }
  nav div {
    margin: 0px;
    padding: 0px !important; }
  @media (min-width: 769px) {
    nav {
      height: 60px;
      background-color: #333333;
      opacity: 0.95; }
      nav ul {
        list-style: none; }
        nav ul li {
          display: inline-block;
          line-height: 60px; } }
  @media (max-width: 768px) {
    nav ul {
      padding: 0px; }
      nav ul li {
        display: block;
        background-color: #333333;
        opacity: 0.95;
        border-left: 1px solid gray;
        border-right: 1px solid gray;
        border-bottom: 1px solid gray; } }

/* NAVIGATION LINKS */
a.nav-link {
  font-size: 20px;
  color: gray;
  padding: 0px 20px; }
  a.nav-link:active {
    text-decoration: none; }
  a.nav-link:hover, a.nav-link.selected {
    text-decoration: none;
    font-weight: bold;
    cursor: pointer; }

nav ul li a#home-link:hover, nav ul li a#home-link.selected {
  color: #FFFFFF; }
nav ul li a#about-link:hover, nav ul li a#about-link.selected {
  color: #BDD8DA; }
nav ul li a#skills-link:hover, nav ul li a#skills-link.selected {
  color: #ECECEC; }
nav ul li a#education-link:hover, nav ul li a#education-link.selected {
  color: #DFEFF0; }
nav ul li a#contact-link:hover, nav ul li a#contact-link.selected {
  color: #BDD8DA; }

/* PAGE SECTIONS */
.section {
  padding-top: 60px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
  font-size: 12pt; }
  @media (min-width: 1500px) {
    .section {
      font-size: 20pt; } }
  @media (min-width: 2000px) {
    .section {
      font-size: 30pt; } }

/* HOME SECTION */
div#home {
  background-image: url("../images/great_wall.jpg");
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat; }
  div#home h1 {
    font-size: 50px; }
  div#home div#home-title {
    padding-left: 60px; }
  div#home div#home-content {
    margin-top: 10%;
    margin-top: calc(50vh - 150px); }

/* ABOUT SECTION */
div#about {
  background-color: #BDD8DA; }
  div#about div.about-section {
    padding: 10px; }

/* SKILLS SECTION */
div#skills {
  background-color: #ECECEC; }
  div#skills a.download-button,
  div#skills a.download-button:active,
  div#skills a.download-button:visited {
    width: 100%;
    display: inline-block;
    background-color: #DFEFF0;
    border: 1px solid #999999;
    color: #333333;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 5px;
    text-align: center;
    transition: all .4s ease-in-out; }
    div#skills a.download-button:hover,
    div#skills a.download-button:active:hover,
    div#skills a.download-button:visited:hover {
      background-color: #BDD8DA;
      text-decoration: none;
      border-radius: 5px; }
  div#skills div.skills-row {
    min-height: 150px; }
    div#skills div.skills-row div {
      height: inherit; }
      div#skills div.skills-row div img {
        height: 150px;
        padding: 10px 0px;
        -webkit-transition: -webkit-filter 1.0s ease-in-out; }
      div#skills div.skills-row div img.grayscale {
        -webkit-filter: grayscale(1);
        filter: url("data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'><filter%20id='grayscale'><feColorMatrix%20type='matrix'%20values='0.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200%200%200%201%200'/></filter></svg>#grayscale");
        /* Firefox 3.5+ */
        filter: gray;
        filter: grayscale(1); }
  div#skills div.skill-info {
    height: inherit; }
  @media only screen and (max-width: 768px) {
    div#skills .hide-mobile {
      display: none; } }

/* EDUCATION SECITON */
div#education {
  background-color: #DFEFF0; }
  div#education img {
    height: 150px;
    padding: 10px 0px; }

/* CONTACT SECTION */
div#contact {
  background-color: #BDD8DA; }
  div#contact div#email {
    line-height: 3em; }
  div#contact a.social-links {
    color: #333333; }
  div#contact a i.fa-linkedin-square:hover {
    color: #1A84BC; }
  div#contact a i.fa-google-plus-square:hover {
    color: #DC2714; }
  div#contact a i.fa-twitter-square:hover {
    color: #32CCFE; }
  div#contact a i.fa-github-square:hover {
    color: #000000; }
  div#contact a i.fa-facebook-square:hover {
    color: #476EB1; }

@media (max-width: 768px) {
  .center-if {
    text-align: center !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none !important; } }
/* OVERRIDE BOOTSTRAP */
.container {
  margin: 0px !important;
  min-width: 100% !important;
  padding: 0px !important; }

/*# sourceMappingURL=style.css.map */
