/* Styles for laurabiester.com
   Modified: 3-18-15
   Author: Laura Biester */


$about-color: #BDD8DA;
$skills-color: #ECECEC;
$education-color: #DFEFF0;
$contact-color: #BDD8DA;

$linkedin-color: #1A84BC;
$google-plus-color: #DC2714;
$twitter-color: #32CCFE;
$facebook-color: #476EB1;

$main-color: #333333;

/* NAVIGATION BAR */
nav {
  z-index: 1;
  width: 100%;
  margin: 0px !important;
  position: fixed;
  height: 60px;
  background-color: $main-color;
  opacity: 0.95;
  color: gray;
  line-height: 60px;

  div {
    margin: 0px;
    padding: 0px !important;
  }

  @media (min-width: 769px) {

    ul {
      list-style: none;
      li {
        display: inline-block;
/*         line-height: 60px;
 */      }
    }

    span.mobile-links {
      display: none;
    }
  }

  @media (max-width: 768px) {
    ul {
      padding: 0px;
      display: none;
     li {
        display: block;
        background-color: $main-color;
        opacity: 0.95;
        border-left: 1px solid gray;
        border-right: 1px solid gray;
        border-bottom: 1px solid gray;
      }
    }
    span.mobile-links {
      color: gray;
      div {
        padding: 0px 20px !important;

        span#current-section {
          font-weight: bold;
        }
      }
    }
  }
}


/* ALL NAVIGATION TEXT */
nav {
  font-size: 20px;
  color: gray;
}

/* NAVIGATION LINKS */
a.nav-link,
a#show-links {
  font-size: 20px;
  color: gray;
  &:active {
    text-decoration: none;
  }

  &:hover,
  &.selected {
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
  }
}
a.nav-link {
  padding: 0px 20px;
}

nav ul li a {
  &#home-link:hover,
  &#home-link.selected {
    color: #FFFFFF;
  }

  &#about-link:hover,
  &#about-link.selected {
    color: $about-color;
  }

  &#skills-link:hover,
  &#skills-link.selected {
    color: $skills-color;
  }

  &#education-link:hover,
  &#education-link.selected {
    color: $education-color;
  }

  &#contact-link:hover,
  &#contact-link.selected {
    color: $contact-color;
  }
}


/* PAGE SECTIONS */
.section {
  padding-top: 60px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
  font-size: 12pt;

  @media (min-width: 1500px) {
    font-size: 20pt;
  }

  @media (min-width: 2000px) {
    font-size: 30pt;
  }
}


/* HOME SECTION */
div#home {
  background-image: url("../images/great_wall.jpg");
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;

  h1 {
    font-size: 50px;
  }

  div#home-title {
    padding-left: 60px;
  }

  div#home-content {
    margin-top: 10%;
    margin-top: calc(50vh - 150px);
  }
}

/* ABOUT SECTION */
div#about {
  background-color: $about-color;

  div.about-section {
    padding: 10px;
  }
}



/* SKILLS SECTION */
div#skills {
  background-color: $skills-color;

  a.download-button,
  a.download-button:active,
  a.download-button:visited {
    width: 100%;
    display: inline-block;
    background-color: $education-color;
    border: 1px solid #999999;
    color: $main-color;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 5px;
    text-align: center;
    transition: all .4s ease-in-out;
    &:hover {
      background-color: $contact-color;
      text-decoration: none;
      border-radius: 5px;
    }
  }

  div.skills-row {
    min-height: 150px;

    div {
      height: inherit;

      img {
        height: 150px;
        padding: 10px 0px;
        -webkit-transition:-webkit-filter 1.0s ease-in-out;
      }

      img.grayscale {
        -webkit-filter: grayscale(1);
        filter: url("data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'><filter%20id='grayscale'><feColorMatrix%20type='matrix'%20values='0.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200%200%200%201%200'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
        filter: gray;
        filter: grayscale(1);
      }
    }
  }

  div.skill-info {
    height: inherit;
  }

  @media only screen and (max-width: 768px) {
    .hide-mobile {
      display: none;
    }
  }
}


/* EDUCATION SECITON */
div#education {
  background-color: $education-color;

  img {
    height: 150px;
    padding: 10px 0px;
  }
}

/* CONTACT SECTION */
div#contact {
  background-color: $contact-color;

  div#email {
    line-height: 3em;
  }

  a {
    &.social-links {
      color: $main-color;
    }

    i.fa-linkedin-square:hover {
      color: $linkedin-color;
    }

    i.fa-google-plus-square:hover {
      color: $google-plus-color;
    }

    i.fa-twitter-square:hover {
      color: $twitter-color;
    }

    i.fa-github-square:hover {
      color: #000000;
    }

    i.fa-facebook-square:hover {
      color: #476EB1;
    }
  }
}


@media (max-width: 768px) {
  .center-if {
    text-align: center !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none !important;
  }
}


/* OVERRIDE BOOTSTRAP */
.container {
  margin: 0px !important;
  min-width: 100% !important;
  padding: 0px !important;
}

div.transparent {
  background-color: transparent;
}
