<div class="row clearfix layout">
  <div class="col-xs-12 col-sm-10 col-md-10 col-print-10">
    {%- if include.item.paper_title -%}<h4>{{ include.item.paper_title }}</h4>{%- endif -%}
    {%- if include.item.authors -%}{{ include.item.authors | markdownify }}{%- endif -%}
    {%- if include.item.venue -%}<em>{{ include.item.venue | markdownify }}</em>{%- endif -%}
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-print-2">
    <ul class="icons no-print">
    {%- if include.item.pdf -%}
      <li>
      <a target="_blank" href="{{ include.item.pdf }}" class="button button--sacnite button--round-s">
        <i class="fas fa-file-pdf small" title="PDF"></i>
      </a>
      </li>
    {%- endif -%}
    {%- if include.item.code -%}
      <li>
      <a target="_blank" href="{{ include.item.code }}" class="button button--sacnite button--round-s">
        <i class="fa fa-code small" title="Code"></i>
      </a>
      </li>
    {%- endif -%}
    {%- if include.item.video -%}
      <li>
      <a target="_blank" href="{{ include.item.video }}" class="button button--sacnite button--round-s">
        <i class="fa fa-video small" title="Video"></i>
      </a>
      </li>
    {%- endif -%}
    {%- if include.item.slides -%}
      <li>
      <a target="_blank" href="{{ include.item.slides }}" class="button button--sacnite button--round-s">
        <i class="fas fa-file-powerpoint small" title="Slides"></i>
      </a>
      </li>
    {%- endif -%}
    {%- if include.item.poster -%}
        <li>
        <a target="_blank" href="{{ include.item.poster }}" class="button button--sacnite button--round-s">
          <i class="fas fa-columns small" title="Poster"></i>
        </a>
        </li>
    {%- endif -%}
    {%- if include.item.doi -%}
        <li>
        <a target="_blank" href="https://doi.org/{{ include.item.doi }}" class="button button--sacnite button--round-s">
          <i class="ai ai-doi small" title="DOI"></i>
        </a>
        </li>
    {%- endif -%}
    </ul>
  </div>
</div>
