<div class="row clearfix layout">
  <div class="col-xs-12 col-sm-11 col-md-11 col-print-11">
    {%- if include.item.paper_title -%}<h4>{{ include.item.paper_title }}</h4>{%- endif -%}
    {%- if include.item.authors -%}{{ include.item.authors | markdownify }}{%- endif -%}
    {%- if include.item.venue -%}<em>{{ include.item.venue | markdownify }}</em>{%- endif -%}
  </div>
  <div class="col-xs-12 col-sm-1 col-md-1 col-print-1">
    <ul class="icons no-print">
    {%- if include.item.pdf -%}
      <li>
      <a target="_blank" href="{{ include.item.pdf }}" class="button button--sacnite button--round-s">
        <i class="fa fa-file" title="PDF"></i>
      </a>
      </li>
    {%- endif -%}
    </ul>
  </div>
</div>
